html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Roboto", Arial, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.logo-details {
  color: #f0f9ff;
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 30px;
  margin-top: 30px;
}

.sidebar {
  background: #0ea5e9;
}

.link {
  text-decoration: none;
  font-weight: 400;
  font-size: 1rem;
  color: #f0f9ff;
  margin-left: 30px;
}

span.link-name {
  margin-left: 10px;
}

span.logo-name {
  margin-left: 5px;
}

.nav-container {
  margin-top: 20px;
}

li {
  padding-top: 10px;
}

.settings-container {
  margin-top: 40px;
}

input {
  background: #e0f2fe;
  border-radius: 5px;
  border-style: none;
  width: 400px;
  height: 30px;
  margin-left: 5px;
}

img {
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  width: 50px;
  height: 50px;
}

.main-user-name {
  font-weight: bold;
  font-size: 1.15rem;
}

.welcome-message-top {
  font-size: 1rem;
  font-weight: bold;
}

.welcome-message-bottom {
  font-size: 2rem;
  font-weight: bold;
}

.welcome-message {
  display: grid;
}

.button {
  background-color: #0ea5e9;
  color: #f0f9ff;
  border-radius: 10px;
  border-style: none;
  width: 100px;
  height: 40px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.button:active {
  transform: translateY(2px);
  background-color: #42b4e9;
}

#title {
  font-size: 1.25rem;
  font-weight: 500;
  margin-left: 20px;
  margin-top: 30px;
}

.article .card {
  background: white;
}

.title,
.announcement-title {
  font-weight: 500;
}

.content,
.announcement-content,
.user-bio {
  color: #71717a;
}

h4 {
  font-size: 0.9rem;
}

.page-grid-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
}

.sidebar {
  grid-column: 1/2;
  grid-row: 1/3;

}

.welcome-container {
  grid-column: 2/3;
  grid-row: 1/2;
  display: grid;
  box-shadow: 0 8px 6px -6px black;
}

.dashboard-container {
  background: #e0f2fe;
  grid-column: 2/3;
  grid-row: 2/3;
}

.top-section {
  display: flex;
  justify-content: space-between;
}

.search-bar-container, 
.welcome-user-container {
  margin-left: 20px;
}

.search-bar-container {
  display: flex;
  align-items: center;
}

.welcome-user-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

span.large-profile-picture {
  grid-column: 1/2;
  grid-row: 1/3;
}

span.welcome-message-top {
  grid-column: 2/3;
  grid-row: 1/2;
}

span.welcome-message-bottom {
  grid-column: 2/3;
  grid-row: 2/3;
}

.profile-icons-container {
  margin-right: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.sharing-buttons-container {
  display: flex;
  margin-right: 20px;
  align-items: center;
  gap: 10px;
}

.bottom-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.article {
  grid-column: 1/2;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: repeat(2, 1fr);
  gap: 15px;
}

.card {
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  box-shadow: 1px 4px 5px #888888;
}

.announcement-child,
.user-row {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  box-shadow: 1px 4px 5px #888888;
}

.user-name {
  display: grid;
  grid-template-columns: 1fr 4fr;
  padding-bottom: 10px;
}

.trending-parent {
  margin-top: 50px;
}